# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore models
models/

# Ignore samples
samples/

# Ignore logs
*.pkl

# Ignore data files - datasets
data/

# Ignore plots
plots/

# Ignore documents
*.docx
*.pdf

# Ignore .idea
.idea/

# Ignore .ipynb
*.ipynb

# Ignore .DS_Store
*.DS_Store
